
.firstPage {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Squada One', cursive;
	font-size: 20px;
}
.secondPage {
  width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #7189bf, #df7599, #ffc785, #72d6c9);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Squada One', cursive;
	font-size: 20px;
}
.thirdPage {
  width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #0c084c, #096386, #00b7a8, #f0eec8);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Squada One', cursive;
	font-size: 20px;
}
.fourthPage {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #99235c, #df4d19, #a43737, #572121);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Squada One', cursive;
	font-size: 20px;
}
.fifthPage {
  width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #022c43, #053f5e, #115173, #ffd700);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Squada One', cursive;
	font-size: 20px;	
}
.sixthPage {
  width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #000000, #3e432e, #616f39, #a7d129);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


